<div class="d-flex justify-content-center" *ngIf="(!isAddMode && product !== null) || isAddMode">
  <div class="product-detail-container">
    <div class="product-img-container">
      <img class="img-fluid" src="../../../../assets/images/product-placeholder.png" alt="Product image" />
    </div>

    <form [formGroup]="productForm" class="product-form">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="name" class="form-control" id="name" formControlName="Name" placeholder="Nike Air" />
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea
          class="form-control"
          id="description"
          formControlName="Description"
          placeholder="Nice tennis for playing basketball"
          rows="3"
        ></textarea>
      </div>
      <div class="form-group">
        <label for="SKU">SKU</label>
        <input type="SKU" class="form-control" id="SKU" formControlName="SKU" placeholder="NIKEAIR99NHCT" />
      </div>
      <div class="form-group">
        <label for="categories">Category</label>
        <app-categories-dropdown controlName="Categories"></app-categories-dropdown>
      </div>
      <label class>Prices</label>
      <hr />
      <div formArrayName="Prices" *ngFor="let price of ProductFormPricesGroups.controls; let i = index">
        <div class="price-container">
          <div [formGroupName]="i">
            <div class="form-group">
              <label for="retailer">Retailer</label>
              <app-retailers-dropdown controlName="Retailer"></app-retailers-dropdown>
            </div>
            <div class="row">
              <div class="col">
                <label for="price">Price </label>
                <input class="form-control" id="price" formControlName="Price" placeholder="2000" />
              </div>
              <div class="col">
                <label for="tier">Tier</label>
                <input class="form-control" id="tier" formControlName="Tier" placeholder="1" />
              </div>
            </div>
            <div class="price-delete-container" *ngIf="i !== 0">
              <button
                type="button"
                [disabled]="loading$ | async"
                class="btn btn-danger"
                (click)="removePriceFormGroup(i)"
              >
                Delete
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="button-default-container add-price-container">
        <button type="button" [disabled]="loading$ | async" class="btn btn-primary" (click)="addPriceFormGroup()">
          Add new price
        </button>
      </div>
      <hr />
      <div class="button-default-container">
        <button
          type="button"
          class="btn btn-success"
          [disabled]="(loading$ | async) || !productForm.valid"
          (click)="saveProduct()"
          *ngIf="isAddMode"
        >
          Save Product
        </button>
        <button
          type="button"
          class="btn btn-success"
          [disabled]="(loading$ | async) || !productForm.valid"
          (click)="saveProduct()"
          *ngIf="!isAddMode"
        >
          Update Product
        </button>
      </div>
    </form>
  </div>
</div>
