@import '../../../../assets/styles/variables';

.product-create-container {
  display: flex;
  width: 600px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 40px;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08), 0 1px 2px rgba(0, 0, 0, 0.12);

  .product-img-container {
    max-width: 350px;
    align-self: center;
  }

  .product-form {
    width: 100%;

    .form-control {
      font-size: 0.8rem;
    }

    button {
      font-size: 0.95rem;
    }

    label {
      font-size: 1rem;
      font-weight: 700;
    }

    input {
      &:focus {
        border-color: #89929c;
        box-shadow: none;
      }
    }

    textarea {
      resize: none;
      &:focus {
        border-color: #89929c;
        box-shadow: none;
      }
    }

    hr {
      margin-top: 0;
    }

    .price-container {
      padding: 20px;
      background-color: #f3f6fd;
      border-radius: 5px;
      box-shadow: 0 1px 3px rgb(0 0 0 / 8%), 0 1px 2px rgb(0 0 0 / 12%);
      margin-bottom: 20px;

      .price-delete-container {
        display: flex;
        justify-content: flex-end;
        margin-top: 20px;
      }
    }
    .button-default-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      margin-bottom: 40px;

      &.add-price-container {
        flex-direction: row;
      }
    }
  }

  @media (max-width: $mobile) {
    padding: 20px;
  }
}
