.snackbar-wrap {
  position: fixed;
  bottom: 20px;
  left:50%;
  padding: 10px 20px;
  border-radius: 5px;
  min-width: 20%;
  transform-origin: center center;
  transform: translate(-50%, 0%);
  z-index: 9;

  &.success {
    background-color: rgb(0,173,72);
  }

  &.danger {
    background-color: rgb(173,35,0);
  }

  .snackbar-text {
    text-align: center;
    font-size: 1.3em;
    color: white;
    margin: 0;
  }
}