<div class="card-container" *ngIf="product" (click)="goToDetails()">
  <div class="card-img-container">
    <img src="../../../../assets/images/product-placeholder.png" alt="Product image" />
    <span class="price-badge">€{{ product.Prices[0].Price }}</span>
  </div>
  <div class="card-content">
    <h5>{{ product.Name }}</h5>
    <hr />

    <div class="card-footer-container">
      <div class="card-footer-info">
        <p class="bold">Retailer</p>
        <p class="bold">GTIN</p>
      </div>
      <div class="card-footer-info">
        <p>{{ product.Prices[0].Retailer.Name }}</p>
        <p>{{ product.SKU }}</p>
      </div>
    </div>
  </div>
</div>
