@import './assets/styles/variables';

* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  margin: 0;
}

body {
  font-family: $sans-serif-family;
  background-color: $background-color;
  font-size: 1rem;
  line-height: 1.25;
  margin: 0;
}
