$sans-serif-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif !default;

$desktop: 1200px;
$tablet: 992px;
$mobie-landscape: 768px;
$mobile: 576px;

$background-color: #f3f6fd;

$default-menu-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
