$sans-serif-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif !default;

$xl: 1440px;
$lg: 992px;
$md: 768px;
$sm: 576px;

$background-color: #f3f6fd;

$default-menu-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
