<div class="d-flex justify-content-center">
  <div class="product-detail-container" *ngIf="product$ | async as product">
    <div class="product-img-container">
      <img class="img-fluid" src="../../../../assets/images/product-placeholder.png" alt="Product image" />
    </div>
    <div class="card-content">
      <h5 class="product-title">{{ product.Name }}</h5>
      <p class="product-description">{{ product.Description }}</p>
      <hr />

      <div class="info-row">
        <p class="labelbox">Categories</p>
        <p class="valuebox">
          <span *ngFor="let category of product.Categories; let isLast = last"
            >{{ category.Name }}{{ isLast ? '' : ' - ' }}
          </span>
        </p>
      </div>

      <div class="info-row">
        <p class="labelbox">GTIN</p>
        <p class="valuebox">{{ product.SKU }}</p>
      </div>

      <h5 class="price-title">Prices</h5>
      <hr />
      <div class="info-row" *ngFor="let price of product.Prices">
        <div class="price-container">
          <div class="info-row">
            <p class="price-label">Retailer</p>
            <p class="price-value">{{ price.Retailer.Name }}</p>
          </div>
          <div class="info-row">
            <p class="price-label">Tier</p>
            <p class="price-value">{{ price.Tier }}</p>
          </div>
          <div class="info-row">
            <p class="price-label">Price</p>
            <p class="price-value">€{{ price.Price }}</p>
          </div>
          <hr />
        </div>
      </div>
    </div>
    <div class="btn-action-container">
      <button type="button" class="btn btn-primary" (click)="goToEditProduct(product)">Edit Product</button>
      <button type="button" class="btn btn-danger" (click)="deleteProduct(product.id)">Delete Product</button>
    </div>
  </div>
</div>
